# Airflow logs
apps/airflow/logs/

# Node
node_modules/
apps/*/node_modules/

# Python
apps/python/__pycache__/

# Env files
.env
apps/*/.env

# image files
*.png
*.jpg
*.jpeg
*.pdf

# zip files
*.zip

# Python cache
__pycache__/
*.pyc

.venv/*